@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter&display=swap');
@import url(landing-page.css);
@import url(turnos.css);
@import url(simulador-obrigatorias.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font:'DM Sans', sans-serif;
    --default-font:'Inter', sans-serif;

    --background-turno:url(../assets/img/fundo-turnos-diurno.png);

    --current-color: #FACC20;
    --secundary-color: #93B7C7;
    
    --current-background:#FACC20;
    --secundary-background:#232c35;

    --current-font-color: black;
    --secundary-font-color: white;

    --ball-color:#FE8B01;
    --btn-color:#f39c12;


    
}

.dark{
    --background-turno:url(../assets/img/fundo-turnos-noturno.png);

    --current-color: #93B7C7;
    --secundary-color: #FACC20;

    --current-background:#232c35;
    --secundary-background:#fafafa;

    --current-font-color: white;
    --secundary-font-color: black;

    --ball-color:#8E04FB;
    --btn-color:#93B7C7;
}