@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter&display=swap');
@import url(landing-page.css);
/* @import url(turnos.css); */
/* @import url(simulador-obrigatorias.css); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font:'DM Sans', sans-serif;
    --default-font:'Inter', sans-serif;

    --background-turno:url(../assets/img/fundo-turnos-diurno.png);

    --current-color: #FACC20;
    --secundary-color: #93B7C7;
    
    --current-background:#FACC20;
    --secundary-background:#232c35;

    --current-font-color: black;
    --secundary-font-color: white;

    --ball-color:#FE8B01;
    --btn-color:#f39c12;

    --popup-diurno-noturno:linear-gradient(133deg, #00C7D0 0%, #77B547 100%);


    /* SIMULADOR */
    --background-simulador-1920:url(../assets/img/simulador/simulador-fundo-diurno-1920.png);
    --cor-botao-categoria-padrao:#FE679F;
    --cor-turno: #FF9629;
    --background-disciplina: #FFF5D0;
    --simulador-h1: #FF6D72;
    --background-header-semestre: #FF71A6;
    --color-label: #7A5F2A;
    --cor-popup:#FF9629;
    --fundo-balao-de-fala:#FF7E35;


    --header-optativas:#FF7E35;
    --scroll-optativas:#FF71A6;
    --fundo-scroll-optativas:#7A5F2A;
    --lupa-color:#FF71A6;

    --informativos-horas-fundo:linear-gradient(180deg, #FF7BAB 0%, #FF699F 100%);
    --informativo-horas-h2:#fff;
    --tcc-horas-h1:#FF5894;
    --scroll-optativas:#9C7A37;
}

.dark{
    --background-turno:url(../assets/img/fundo-turnos-noturno.png);

    --current-color: #93B7C7;
    --secundary-color: #FACC20;

    --current-background:#232c35;
    --secundary-background:#fafafa;

    --current-font-color: white;
    --secundary-font-color: black;

    --ball-color:#8E04FB;
    --btn-color:#93B7C7;

    --popup-diurno-noturno: linear-gradient(133deg, #860257 0%, #FD7A38 100%);

    /* SIMULADOR */

    --background-simulador-1920:url(../assets/img/simulador/simulador-fundo-noturno-1920.png);
    --cor-botao-categoria-padrao:#4F0269;
    --cor-turno:black;
    --background-disciplina: #FFE4D0;
    --simulador-h1: #42035A;
    --background-header-semestre: #F76536;
    --color-label: #42035A;
    --cor-popup:#910D55;
    --fundo-balao-de-fala:#F76536;


    --header-optativas:#F76536;
    --scroll-optativas:#FF6D3E;
    --fundo-scroll-optativas:#823A9D;
    --lupa-color:#3E0354;

    --informativos-horas-fundo:linear-gradient(180deg, #FFC79F 0%, #FFA769 100%);
    --informativo-horas-h2:#2D013E;
    --tcc-horas-h1:#42035A;
    --scroll-optativas:#F76536;


}