body{
    overflow-x: hidden;

}
header{
    padding: 50px 145px 227px 150px;
    font-family: var(--font);
    background-image: url(../assets/img/lp-onda-fundo-1920.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#logo{
    display: flex;
    column-gap: 16px;
    padding-bottom: 110px;
}

#logo h3{
    font-weight: 600;
    color: white;
    width: 92px;
    font-size: 23px;
    font-family: var(--default-font);
    line-height: 1;
}

#content-header h1{
    font-size: 100px;
    font-weight: 700;
    max-width: 581px;
    line-height: 99px;
    color: white;
}

#content-header .description{
    font-size: 20px;
    color: white;
    max-width: 750px;

    padding: 40px 0;
}

#content-header button{
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font);

    background-color: #0085FF;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 25px 50px;
    border-radius: 34px;
    border: none;
    cursor: pointer;
}

#content-header p {
    padding-top: 30px;
}

#botaoSimule{
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;

}


#content-header p a{
    font-size: 22px;
    color: white;
    text-decoration: underline;
}

#content-header p a img{
    padding-left: 10px;
}

#video-category{
    padding: 50px 140px 50px 150px;
    font-family: var(--font);
}

#video-category h2{
    font-size: 90px;
    font-weight: 700;
    max-width: 747px;
    color: #5836AC;
    padding-bottom: 40px;

}
.topicos-video{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
#subtitulo-video{
    font-family: var(--font);
    font-size: 25px;
}

.subtopicos-video{
    font-family: var(--font);
    font-size: 22px;
}
.subtopicos-video img{
    margin-right: 10px;
}


#grade-curricular{
    padding: 150px 0 140px 150px;
    font-family: var(--font);

    display: flex;
    column-gap: 20px;
    width: 100%;
}

#grade-curricular-content h3{
    font-size: 55px;
    font-weight: 700;
    max-width: 335px;
    padding-bottom: 30px;
}

.grade{
    background-color: #FFE361;
}

.curricular{
    background-color: #33FFF3;
}

#grade-curricular-content p{
    font-size: 22px;
    max-width: 335px;
    width: 335px;
    font-family: var(--default-font);
}

#nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    cursor: pointer;
}

#nav-btn button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #5096FF;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#nav-btn button i{
    font-size: 33px;
    color: white;

}
/* .owl-carousel .item{
    background-color: gray;
    padding: 50px 20px 25px 20px;
    border-radius: 20px;
    height: 410px;
}

.owl-carousel .item h4{
    font-size: 33px;
    font-weight: 700;
}

.owl-carousel .item p{
    font-size: 20px;
    padding-top: 15px;
} */

#attention{
    margin: 100px 0 120px 160px;
    background: linear-gradient(89.98deg, #FFE25F 0.01%, #FF5C00 104.68%);
    border-radius: 20px;
    max-width: 1414px;
    width: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 56px 0;
}

.content-attention{
    font-family: var(--font);
}

.content-attention h1{
    font-size: 55px;
}

.content-attention p{
    font-size: 25px;
    font-weight: 500px;
}

.description-attention{


    display: flex;
    gap: 0 56px;
}

.description-attention p{
    font-family: var(--default-font);
    font-size: 22px;
    max-width: 529px;
}

.background-footer{
    background-image: url(../assets/img/fundo-dobra05-1920.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#VMF{
    padding: 108px 0 108px 150px;
    color: white;
}


#VMF p{
    font-family: var(--default-font);
    font-size: 22px;
  
}

#VMF h1{
    font-family: var(--font);
    font-size: 75px;
    font-weight: bolder;
    max-width: 751px;
    width: 751px;
}

#VMF button{
    font-family: var(--font);
    font-size: 40px;
    font-weight: bolder;
    background-color: #0084FF;
    color: white;

    width: 410px;
    height: 92px;
    border-radius: 34px;
    border: none;
    
    margin-top: 60px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

footer{
    padding-top: 180px;
    height: 250px;
}

.footer-imgs{
    display: flex;
    align-items: end;
    gap: 0 170px;
}