@import url(global.css);
* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    overflow-x: hidden;

}

header {
    padding: 50px 145px 227px 150px;
    font-family: var(--font);
    background-image: url(../assets/img/landing-page/fundo1-1920.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#logo {
    display: flex;
    column-gap: 16px;
    padding-bottom: 110px;
}

#logo h3 {
    font-weight: 600;
    color: white;
    width: 92px;
    font-size: 23px;
    font-family: var(--default-font);
    line-height: 1;
}

#content-header h1 {
    font-size: 100px;
    font-weight: 700;
    max-width: 581px;
    line-height: 99px;
    color: white;
}

#content-header .description {
    font-size: 20px;
    color: white;
    max-width: 750px;

    padding: 40px 0;
}

#content-header button {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font);

    background-color: #0085FF;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 25px 50px;
    border-radius: 34px;
    border: none;
    cursor: pointer;
}

#content-header p {
    padding-top: 30px;
}

#botaoSimule {
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;


}


#content-header p a {
    font-size: 22px;
    color: white;
    text-decoration: underline;
}

#content-header p a img {
    padding-left: 10px;
}

#video-category {
    padding: 60px 143px 60px 150px;
    font-family: var(--font);
    display: flex;
    gap: 0 40px;
    align-items: end;

}

#video-category h2 {
    font-size: 90px;
    font-weight: 700;
    max-width: 747px;
    color: #5836AC;
}
.topicos-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px 150px;
}

#video-descricao {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

#div-video{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    align-items: center;
    justify-content: center;
}

.video-noturno{
    display: none;
}

/* #video-mp4 {
    width: "560";
    height: "315px";
    display: flex;
    gap: 30px;
}

.div-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
} */


#subtitulo-video {
    font-family: var(--font);
    font-size: 25px;
}

.subtopicos-video {
    font-family: var(--font);
    font-size: 22px;
    display: flex;
}

.subtopicos-video img {
    margin-right: 10px;
}

/* CHECKBOX VIDEO */
#turnos{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0 44px;
    align-items: center;

}

 #check{
    position: absolute;
    opacity: 0;
}

.shift-change{
    background-color: #DDDDDD;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100px;
    height: 34px;
    padding: 10px;
    border-radius: 50px;

    position: relative;
}

 .shift-change .ball{
    background-color: var(--ball-color)  ;

    position: absolute;
    left: 0px;

    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: transform .2s linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

 #check:checked + .shift-change .ball{
    transform: translateX(60px);
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-turnos #btn-turnos{
    font-size: 40px;
    background-color: #408CFF;
    width: 282px;
    height: 89px;
    border-radius: 20px;
    border: none;
    margin-right: 30px;

    font-family: var(--font);
    font-weight: bold;
    font-size: 40px;
  
    color: white;
    cursor: pointer;
}

 .fa-moon{
    font-size: 25px;    
    color: #f1c40f;
}

 .fa-sun{
    font-size: 25px;
    color: rgb(255, 255, 255);
}


#grade-curricular {
    padding: 150px 0 140px 150px;
    font-family: var(--font);
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
}

#grade-curricular-content h3 {
    font-size: 55px;
    font-weight: 700;
    max-width: 335px;
    padding-bottom: 30px;
}

.grade {
    background-color: #FFE361;
}

.curricular {
    background-color: #33FFF3;
}

#grade-curricular-content p {
    font-size: 22px;
    max-width: 335px;
    width: 335px;
    font-family: var(--default-font);
}

#nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    cursor: pointer;
}

#nav-btn button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #5096FF;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#nav-btn button i {
    font-size: 33px;
    color: white;

}

/* .owl-carousel .item{
    background-color: gray;
    padding: 50px 20px 25px 20px;
    border-radius: 20px;
    height: 410px;
}

.owl-carousel .item h4{
    font-size: 33px;
    font-weight: 700;
}

.owl-carousel .item p{
    font-size: 20px;
    padding-top: 15px;
} */

#attention {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 70px;
    margin-bottom: 367px;    

}

#attention-image{
    width: 535px;
    height: 535px;
    transform: rotate(-10.138deg);
}

#attention-content{
    font-family: var(--font);
}

#attention-content h2{
    max-width: 485px;
    font-size: 67px;
    line-height: 1;
}

#attention-content h1{
    max-width: 485px;
    font-size: 96px;
    background-color: #ffe361;
    line-height: 1;

}


.attention-description1{
    max-width: 449px;
    font-size: 25px;
    padding: 20px 0;
}
.attention-description2 {
    max-width: 650px;
    font-size: 22px;
    font-family: var(--default-font);
    padding-top: 20px;
}


.fundo2{
    background-image: url(../assets/img/landing-page/fundo2-1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

#VMF {
    padding: 108px 0 108px 150px;
    color: white;
}


#VMF p {
    font-family: var(--default-font);
    font-size: 22px;

}

#VMF h1 {
    font-family: var(--font);
    font-size: 90px;
    font-weight: bolder;
    max-width: 751px;
    width: 751px;
    line-height: 1.1;
}

#VMF button {
    font-family: var(--font);
    font-size: 40px;
    font-weight: bolder;
    background-color: #0084FF;
    color: white;

    width: 410px;
    height: 92px;
    border-radius: 34px;
    border: none;

    margin-top: 60px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

footer {
    padding: 46px 120px 46px 150px;
    display: flex;
    flex-direction: column;
}

.logo-footer {
    width: 258px;
    height: 88px;
}

.footer-imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-imgs p {
    font-family: var(--default-font);
    font-size: 25px;
    color: black;
}

@media (max-width: 1850px) {
    footer {
        padding: 0px 120px 46px 150px;

    }
    .fundo2{
        background-image: url(../assets/img/landing-page/fundo2-1660.png);
        background-size: contain;
    }

    #VMF {
        padding: 108px 0 80px 150px;
    }
    #attention {
        margin-bottom: 367px;    
    }
}