@import url(global.css);

body {
    background-image: var(--background-simulador-1920);
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
    font-family: var(--font);
    font-weight: bold;
    gap: 0 396px;
}

.logo-turno-simulador {
    display: flex;
    gap: 0 70px;
    align-items: center;
}

.logo-turno-simulador a {
    color: var(--cor-turno);
}

.turno-simulador {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 0 15px;
    background-color: white;
    border-radius: 10px;
    max-width: 129px;
    max-height: 40px;
    cursor: pointer;
}

.turno-simulador i {
    font-size: 20px;
}

.turno-simulador p {
    font-size: 18.5px;
}

#header img {
    width: 155px;
    height: 63px;
}

#categorias {
    display: flex;
    gap: 0 100px;
    position: relative;
}

#categorias::before {
    content: '';
    height: 4px;
    width: 85.3%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="1" fill="white"/></svg>');
    position: absolute;
    left: 8%;
    top: 25%;
    z-index: -1;
}

#categorias button {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid #FFF;
    background-color: var(--cor-botao-categoria-padrao);
    color: #fff;
    cursor: pointer;
}

#categorias #resultado-categorias button {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid #FFF;
    background-color: #FF9128;
    color: #fff;
    cursor: pointer;
}

.valor-categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.valor-categorias p {
    margin-top: 15px;
    color: #fff;
    white-space: nowrap;
}

.arrows {
    max-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #408CFF;
    cursor: pointer;
}


#corpo {
    height: 731px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 55px;
    padding-top: 90px;
}

#resultado {
    display: flex;
    align-items: center;
    width: 1505px;
    height: 494px;
    gap: 103px;
}

#texto-resultado {
    width: 541px;
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#texto-resultado h1 {
    font-family: var(--font);
    font-size: 120px;

}

#texto-resultado h2 {
    font-family: var(--font);
    font-size: 70px;
    font-weight: bold;
}

#card-resultado {
    width: 861px;
    height: 394px;
    display: flex;
    flex-direction: column;
}

#card-resultado h3 {
    font-weight: 100;


}

#header-card {
    width: 860px;
    height: 100px;
    background-color: #FF71A6;
    display: flex;
    align-items: center;
    padding: 43px;
    border-radius: 20px 20px 0 0;
}

#header-card h3 {
    font-family: var(--font);
    font-size: 45px;
    color: #fff;
}

#body-resultado {
    background-color: #fff;
    width: 861px;
    height: 389px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 0 0 20px 20px;


}

#cards {
    display: flex;
    flex-direction: column;
    gap: 29px;
    justify-content: center;
}

#card-top {
    display: flex;
    gap: 29px;
}

#card-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 29px;
}

.card-width {
    width: 240px;
    height: 112px;
    font-size: 30px;

}

.propriedade-card {
    background-color: #FFA133;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
}

#horas_livres {
    font-size: 30px;
}

#horas_complementares {
    font-size: 22px;
}

#tcc {
    font-size: 22px;
}


.column_card {
    width: 375px;
    height: 47px;
    background-color: #FFA133;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 33px;
}

#horas_livres {
    width: 377px;
    height: 104px;
}

#horas_tcc {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#detalhes {
    width: 100%;
    font-family: var(--font);
    font-size: 30px;
    font-weight: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

#detalhes button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
}

.card {
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.card h4 {
    font-family: var(--font);
    font-weight: 100;
}

#exportar {
    position: relative;
    left: 570px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 43px;
    text-align: center;
    font-weight: 100;


}

.exportar {
    width: 204px;
    height: 62px;
    background-color: #408CFF;
    color: #fff;
    font-family: var(--font);
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 45px;
}