/* #header{
    width: 100vw;
    height: 10vh;
    background-color: #d4d1d1;
}

#main-obrigatorias{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obrigatorias{
    background-color: bisque;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cadeiras-obrigatorias{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.semestres{
    width: 50%;
    height: 50%;
    background-color: aliceblue;    
} */

.cadeiras-semestre{
    display: flex;
    flex-direction: column;
}