#optativas{
    width: 700px;
    height: 500px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
}
#cadeiras-optativas{
    width: 60%;
    height: 100%;
    background-color: rgb(216, 226, 226);
    border-radius: 2%;

}
#optativas-escolhidas{
    width: 40%;
    height: 100%;
    background-color: bisque;
}
#form-cadeiras{
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
}