@import url(global.css);
body{
    background-image: var(--background-simulador-1920);
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-sun{
    font-size: 25px;
    color: #FF9629;
}

#categorias #tcc-categorias button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid #FFF;
    background-color: #FF9128;
    color: #fff;
    cursor: pointer;
}

#tcc-categorias{
    padding-top: 9px;
}

#tcc-categorias p{
    margin-top: 9px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 150px 25px 150px;
    gap: 0 55px;
}

.arrows {
    max-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #408CFF;
    cursor: pointer;
}

#disciplina {
    background-color: var(--background-disciplina);
    max-width: 1505px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    border-radius: 20px;
    padding: 40px;
}


.div-content-tcc {
    display: flex;
    gap: 0 45px;
}

.informativo-horas {
    max-width: 839px;
    width: 839px;
    max-height: 485px;
    border-radius: 15px;
    background: var(--informativos-horas-fundo);
    padding: 20px 39px 20px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.scroll-content-tcc {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.scroll-content-tcc::-webkit-scrollbar {
    width: 7px;
}

.scroll-content-tcc::-webkit-scrollbar-thumb {
    background-color: var(--scroll-optativas);
    border-radius: 5px;
}

.scroll-content-tcc::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.div-gif-horas{
    display: flex;
    width: 100%;
    justify-content: center;
}

.informativo-horas h2 {
    color: var(--informativo-horas-h2);
    font-size: 35px;
    font-family: var(--font);
}

.informativo-horas h3 {
    color: var(--informativo-horas-h2);
    font-size: 22px;
    font-family: var(--font);
}

.informativo-horas ul {
    color: #FFF;
    font-size: 18px;
    font-family: var(--default-font);
    list-style: none;
    font-weight: 400;
}

.tcc-horas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tcc-horas h1 {
    color: var(--tcc-horas-h1);
    font-family: var(--font);
    font-size: 50px;
    line-height: 1;
}

.tcc-horas hr {
    height: 2px;
    background-color: black;
    border: none;
    margin: 30px 0;
}

.input-tcc {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.input-tcc label {
    font-family: var(--default-font);
    font-size: 25px;
}

.horas-content input {
    padding: 12px 11px;
    width: 450px;
    height: 42px;
    font-size: 18px;
    font-family: var(--default-font);
    border-radius: 10px;
    border: 2px solid #D0CFCF;
    background: #ECECEC;
    margin-top: 19px;
}
.horas-content input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

.horas-content input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#btn-finalizar {
    position: relative;
    left: 82.7%;
    width: 185px;
    height: 70px;
    margin-bottom: 40px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #4FB200 0%, #5ACD00 99.99%, #4FB200 100%);
    color: white;

    font-size: 30px;
    font-family: var(--font);
    font-weight: bold;
    cursor: pointer;
}




.div-descricao-disciplina {
    display: flex;
    align-items: center;
}

.descricao-disciplina {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 18px 22px;
    border-radius: 0px 20px 20px 0px;
    max-height: 79px;
}

.div-balao-de-fala {
    background-color: var(--fundo-balao-de-fala);
    border-radius: 20px 0px 0px 20px;
    padding: 21px 22px;
    max-height: 79px;
}

.descricao-disciplina p {
    max-width: 1284px;
    font-size: 22px;
    font-family: var(--font);
}


.popup-wrappep {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: relative;
    text-align: left;
    padding: 40px;
    width: 100%;
    max-width: 720px;
    max-height: 503px;
    margin: auto;
    background: #fff;
    border-radius: 20px;
}

.popup-content {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

#btn_close_popup {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
}

.popup-content h2 {
    max-width: 576px;
    color: var(--cor-popup);
    font-family: var(--font);
    font-size: 40px;
}

.popup-content hr {
    background-color: black;
    border: none;
    height: 1px;
    margin-bottom: 15px;
}

.popup-content h4 {
    font-size: 22px;
    font-family: var(--default-font);
    font-weight: 500;
}

.popup-content b {
    color: var(--cor-popup);
}

.popup-info h4 {
    font-size: 22px;
    font-family: var(--default-font);
    font-weight: 500;
}

.popup-info b {
    color: var(--cor-popup);
}

.botaoInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    max-width: 18px;
    width: 100%;
    height: 18px;
    background-color: white;
    border: 2px solid var(--color-label);
    color: var(--color-label);
    cursor: pointer;
    font-size: 15px;
}
#nome_tcc{
    display: flex;
    justify-items: center;
    align-items: center;
}

#div_horas{
    display: flex;
    align-items: center;
    gap: 10px;
}
.botao_apagar{
    margin-top: 19px;
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7A5F2A;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}