@import url(global.css);
body{
    background-image: var(--background-simulador-1920);
    background-size: cover;
    background-repeat: no-repeat;
}

#categorias #optativas-categorias button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid #FFF;
    background-color: #FF9128;
    color: #fff;
    cursor: pointer;
}

#optativas-categorias{
    padding-top: 9px;
}

#optativas-categorias p{
    margin-top: 9px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 150px 57px 150px;
    gap: 0 55px;
}

.arrows {
    max-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #408CFF;
    cursor: pointer;
}

#disciplina {
    background-color: var(--background-disciplina);
    width: 1390px;
    max-height: 756px;
    height: 756px;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    border-radius: 20px;
    padding: 30px;
}

#h1-optativas h1 {
    text-align: center;
    font-family: var(--font);
    font-size: 50px;
    font-weight: bold;
    color: var(--simulador-h1);
}

#content-optativas{
    display: flex;
    gap: 0 35px;
}

#optativas {
    display: flex;
    padding-left: 34px;
}

#cadeiras-optativas{
    max-height: 424px;
    max-width: 420px;
    width: 420px;
}

.header-cadeiras-optativas{
    background-color: var(--header-optativas);
    padding: 10px 26px 9px 26px;
    border-radius: 20px 0px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    max-height: 75px;
    height: 100%;
}

.div-glass{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;

    display: flex;
    justify-content: center;
    position: absolute;
    right: 45px;
    top: 13px;
}

.div-glass i{
    font-size: 26px;
    color: var(--lupa-color);
    position: absolute;
    top: 11px;
}

.header-cadeiras-optativas input{
    font-size: 18px;
    font-family: var(--default-font);
    width: 332px;
    padding: 10px 0px 10px 15px;
    border-radius: 10px;
    border: 2px solid #CACACA;
    background: #FAFAFA;
    max-height: 39px;

}

.scroll-optativas{
    padding: 9px 27px 18px 27px;
    background-color: #FFF;
    border-radius: 0 0 0 20px;
}

#form-cadeiras {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 328px;
}

#form-cadeiras .c {
    font-size: 18px;
    font-family: var(--default-font);
    color: var(--color-label);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}



#form-cadeiras::-webkit-scrollbar {
    width: 7px;
} 

#form-cadeiras::-webkit-scrollbar-thumb {
    background-color:var(--scroll-optativas);
    border-radius: 5px;
}

#form-cadeiras::-webkit-scrollbar-track {
    background-color: var(--fundo-scroll-optativas); 
     border-radius: 10px; 
     border-right: 1px solid #fff; 
     border-left: 1px solid #fff; 
}
.fundo-optativas-escolhidas{
    background-color: #FEF6D9;
    height: 355px;
    padding: 10px 25px;
    max-width: 370px;
    position: relative;
    border-radius: 0 0 20px 0;
}

.header-optativas-escolhidas{
    background-color: var(--header-optativas);
    border-radius: 0px 20px 0px 0px;
    width: 370px;
    text-align: center;
    padding: 24px 0;
    max-height: 75px;
}

.header-optativas-escolhidas h3{
    font-size: 25px;
    font-family: var(--font);
    color: #FFF;
    font-weight: 500;
}

#form-optativas-escolhidas{
    overflow-y: scroll;
    max-height: 283px;
}

#form-optativas-escolhidas::-webkit-scrollbar {
    width: 7px;
} 

#form-optativas-escolhidas::-webkit-scrollbar-thumb {
    background-color:var(--scroll-optativas);
    border-radius: 5px;
}

#form-optativas-escolhidas::-webkit-scrollbar-track {
    background-color: var(--fundo-scroll-optativas); 
     border-radius: 10px; 
     border-right: 1px solid #fff; 
     border-left: 1px solid #fff; 
}

.optativaEscolhida{
    display: flex;
}

.eletiva_optativaEscolhida{
    display: flex;
}

#form-optativas-escolhidas label{
    font-size: 18px;
    font-family: var(--default-font);
    color: var(--color-label);
    margin-bottom: 10px;
}

#form-optativas-escolhidas button{
    max-width: 18px;
    max-height: 18px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7A5F2A;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-optativas-escolhidas p{
    font-family: var(--default-font);
    color: var(--color-label);
    position: absolute;
    bottom: 0;
}

#optativas-livres{
    display: flex;
    flex-direction: column;
    gap: 22px 0;
    padding-right: 34px;
}

#optativas-livres h1{
    font-family: var(--font);
    font-size: 40px;
    font-weight: bold;
    color: var(--simulador-h1);
    position: relative;
}

 #question{
    font-size: 23px;
    position: absolute;
    top: 29%;
    left: 74%;
    cursor: pointer;
}

#optativas-livres input{
    width: 397px;
    height: 43px;
    padding: 12px 11px;
    border-radius: 10px;
    border: 2px solid #D0CFCF;
    background: #ECECEC;
    font-size: 18px;
    font-family: var(--default-font);
}

#optativas-livres input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}
#optativas-livres input:placeholder-shown{ 
    font-size: 16.3px;
}

#optativas-livres input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#optativas-livres p{
    font-size: 18px;
    color: var(--color-label);
    font-family: var(--default-font);
    text-decoration: underline;
    cursor: pointer;
}

.div-descricao-disciplina{
    display: flex;
    align-items: center;
}

.descricao-disciplina {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 18px 22px;
    border-radius: 0px 20px 20px 0px;
    max-height: 79px;
}

.div-balao-de-fala{
    background-color: var(--fundo-balao-de-fala);
    border-radius: 20px 0px 0px 20px;
    padding: 21px 22px;
    max-height: 79px;
}

.descricao-disciplina p {
    max-width: 1284px;
    font-size: 22px;
    font-family: var(--font);
}


.popup-wrappep{
    display: none; 
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup{
    position: relative;
    text-align: left;
    padding: 40px;
    width: 100%;
    max-width: 720px;
    margin:auto;
    background: #fff;
    border-radius: 20px;
}

.popup-content{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

#btn_close_popup{
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
}

.popup-content h2{
    max-width: 576px;
    color: var(--cor-popup);
    font-family: var(--font);
    font-size: 40px;
}

.popup-content hr{
    background-color: black;
    border: none;
    height: 1px;
    margin-bottom: 15px;
}

.popup-content h4{
    font-size: 22px;
    font-family: var(--default-font);
    font-weight: 500;
}

.popup-content b{
    color: var(--cor-popup);
}

.popup-info h4{
    font-size: 22px;
    font-family: var(--default-font);
    font-weight: 500;
}

.popup-info b{
    color: var(--cor-popup);
}

.botaoInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    max-width: 18px;
    width: 100%;
    height: 18px;
    background-color: white;
    border: 2px solid var(--color-label);
    color: var(--color-label);
    cursor: pointer;
}

.popup-wrappep-horas{
    display: none; 
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-horas{
    position: relative;
    text-align: left;
    padding: 40px;
    width: 100%;
    max-width: 831px;
    margin:auto;
    background: #fff;
    border-radius: 20px;
}

.popup-content-horas{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

.popup-content-horas h2{
    font-family: var(--font);
    font-size: 50px;
    color: var(--cor-popup);
}

.popup-content-horas p{
    font-family: var(--default-font);
    font-size: 28px;
    color: #25224E;
}

#btn_close_popup-horas{
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
}

.popup-info-horas h3{
    font-family: var(--font);
    font-size: 35px;
    color: var(--cor-popup);
}

.popup-info-horas ul{
    list-style: none;
    font-family: var(--default-font);
    font-size: 25px;
    color: #25224E;
}

#div_horas{
    display: flex;
    align-items: center;
    gap: 10px;
}
.botao_apagar{
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7A5F2A;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}