@import url(global.css);
body{
    background-image: var(--background-simulador-1920);
    background-size: cover;
    background-repeat: no-repeat;
}

#categorias #eletivas-categorias button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid #FFF;
    background-color: #FF9128;
    color: #fff;
    cursor: pointer;
}

#eletivas-categorias{
    padding-top: 9px;
}

#eletivas-categorias p{
    margin-top: 9px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 150px 57px 150px;
    gap: 0 55px;
}

.arrows {
    max-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #408CFF;
    cursor: pointer;
}

#disciplina {
    background-color: var(--background-disciplina);
    width: 1390px;
    max-height: 756px;
    height: 756px;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    border-radius: 20px;
    padding: 30px;
}

#disciplina h1 {
    text-align: center;
    font-family: var(--font);
    font-size: 50px;
    font-weight: bold;
    color: var(--simulador-h1);
}

#cadeiras {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.semestres {
    width: 306px;
    min-height: 284px;
    background-color: white;
    border-radius: 15px;

}

.numero-semestre {
    text-align: center;
    background-color: var(--background-header-semestre);
    border-radius: 15px 15px 0 0;
    padding: 15px;
    font-size: 22px;
    font-family: var(--font);
    font-weight: bold;
    color: white;
}

.cadeiras-semestre {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: var(--default-font);
    padding: 11px 20px;
    max-width: 306px;
}

.cadeiras-semestre label {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    color: var(--color-label);
}

.botaoInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    max-width: 18px;
    width: 100%;
    height: 18px;
    background-color: white;
    border: 2px solid var(--color-label);
    color: var(--color-label);
    cursor: pointer;
}

.cadeiras-semestre label:first-child{
    font-weight: bold;
}


/* .scroll-cadeira {
    overflow-y: scroll;
}

.scroll-cadeira::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem 
} 

.scroll-cadeira::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    border-left: 3px solid #737373;
    border-right: 3px solid #737373;
    border-top: 16px solid #737373;
    border-bottom: 15px solid #737373;
}

.scroll-cadeira::-webkit-scrollbar-track {
    background-color: #737373;
    /* Cor da trilha 
    border-radius: 10px;
    /* Raio de borda da trilha 
    border-bottom: 15px solid #737373;

}
*/

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--color-label);
    max-width: 24px;
    width: 100%;
    height: 24px;
    border-radius: 5px;
    background-color: white;
    margin-right: 15px;
}

input[type="checkbox"]:checked {
    background-color: var(--color-label);
}

input[ name="todas"] {
    border-radius: 50%;
    
}

input[ name="todas"]:checked{
    background-color:#8b61ee;

}

.redefinir {
    width: 152px;
    min-height: 49px;
    border-radius: 15px;
    border: none;
    background-color: #408CFF;
    color: white;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    font-size: 25px;
    font-family: var(--font);
    font-weight: bold;

    margin-left: auto;

    cursor: pointer;
}

.div-descricao-disciplina{
    display: flex;
    align-items: center;
}

.descricao-disciplina {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 18px 22px;
    border-radius: 0px 20px 20px 0px;
    max-height: 79px;
}

.div-balao-de-fala{
    background-color: var(--fundo-balao-de-fala);
    border-radius: 20px 0px 0px 20px;
    padding: 21px 22px;
    max-height: 79px;
}

.descricao-disciplina p {
    max-width: 1284px;
    font-size: 22px;
    font-family: var(--font);
}

.popup-wrappep{
    display: none; 
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup{
    position: relative;
    text-align: left;
    padding: 40px;
    width: 100%;
    max-width: 720px;
    max-height: 503px;
    margin:auto;
    background: #fff;
    border-radius: 20px;
}

.popup-content{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

#btn_close_popup{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
}

.popup-content h2{
    max-width: 576px;
    color: var(--cor-popup);
    font-family: var(--font);
    font-size: 40px;
}

.popup-content hr{
    background-color: black;
    border: none;
    height: 1px;
    margin-bottom: 15px;
}

.popup-content h4{
    font-size: 22px;
    font-family: var(--default-font);
    font-weight: 500;
}

.popup-content b{
    color: var(--cor-popup);
}

.popup-info h4{
    font-size: 22px;
    font-family: var(--default-font);
    font-weight: 500;
}

.popup-info b{
    color: var(--cor-popup);
}

.popup-wrappep-limpar{
    display: none; 
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-limpar{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 666px;
    max-height: 349px;
    margin:auto;
    background: var( --popup-diurno-noturno);
    border-radius: 20px;
}

.popup-content-limpar{
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

.popup-content-limpar h2{
    max-width: 576px;
    color: white;
    font-family: var(--font);
    font-size: 40px;
}

.popup-content-limpar p{
    max-width: 606px;
    color: white;
    font-family: var(--default-font);
    font-size: 23px;
}

.popup-btns-limpar{
    display: flex;
}

.popup-btns-limpar button{
  width: 333px;
  height: 87px;
  font-family: var(--font);
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;

}

.btn-limpar{
    border-radius: 0 0 0 20px;
    border: none;
    border-right: 1px solid black;
}

.btn-nao-limpar{
    border-radius: 0 0 20px 0;
    border: none;
    border-left: 1px solid black;
}

