@import url(global.css);
#background-turnos{ 
    background-image:var(--background-turno) ;
    transition: background .2s linear;
}

.logo-turnos{
    position: absolute;
    left: 150px;
    top: 50px;
    width: 155px;
    height: 62px;
}

.body-turnos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;

    font-family: var(--font);
    font-weight: bold;
    color: white;
}

.body-turnos h1{
    font-size: 95px;
}

.body-turnos #turnos{
    font-size: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0 55px;
    align-items: center;

}

.body-turnos #check{
    position: absolute;
    opacity: 0;
}

.body-turnos .shift-change{
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;

    position: relative;
}

.body-turnos .shift-change .ball{
    background-color: var(--ball-color)  ;

    position: absolute;
    left: 0px;

    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: transform .2s linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

.body-turnos #check:checked + .shift-change .ball{
    transform: translateX(150px);
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-turnos #btn-turnos{
    font-size: 40px;
    background-color: #408CFF;
    width: 282px;
    height: 89px;
    border-radius: 20px;
    border: none;
    margin-right: 30px;

    font-family: var(--font);
    font-weight: bold;
    font-size: 40px;
  
    color: white;
    cursor: pointer;
}

.body-turnos .fa-moon{
    font-size: 40px;    
    color: #f1c40f;
}

.body-turnos .fa-sun{
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.popup-wrappep{
    display: none; 
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 666px;
    max-height: 349px;
    margin:auto;
    background: linear-gradient(180deg, #553FDC 0%, #4328E8 100%);
    border-radius: 20px;
}

.popup-content{
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

.popup-content h2{
    max-width: 576px;
    color: white;
    font-family: var(--font);
    font-size: 40px;
}

.popup-content p{
    max-width: 606px;
    color: white;
    font-family: var(--default-font);
    font-size: 23px;
}

.popup-btns{
    display: flex;
}

.popup-btns button{
  width: 332px;
  height: 87px;
  border: none;
  font-family: var(--font);
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.btn-mudar{
    border-radius: 0  0 0px 20px;
}

.btn-nao-mudar{
    border-radius: 0  0 20px 0px;
}