@import url(global.css);
#background-turnos{
    height: 100vh;
    background-image:var(--background-turno) ;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;

    transition: background .2s linear;

    font-family: var(--font);
    font-weight: bold;
    color: white;
}

#background-turnos h1{
    font-size: 95px;
}

#background-turnos #turnos{
    font-size: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0 55px;
    align-items: center;

}

#background-turnos #check{
    position: absolute;
    opacity: 0;
}

#background-turnos .shift-change{
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;

    position: relative;
}

#background-turnos .shift-change .ball{
    background-color: var(--ball-color)  ;

    position: absolute;
    left: 0px;

    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: transform .2s linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

#background-turnos #check:checked + .shift-change .ball{
    transform: translateX(150px);
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#background-turnos #btn-turnos{
    font-size: 40px;
    background-color: #408CFF;
    width: 282px;
    height: 89px;
    border-radius: 20px;
    border: none;

    font-family: var(--font);
    font-weight: bold;
    font-size: 40px;
  
    color: white;
    cursor: pointer;
}

#background-turnos .fa-moon{
    font-size: 40px;    
    color: #f1c40f;
}

#background-turnos .fa-sun{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
