main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista{
    height: 300px;
    width: 500px;
    background: #76cedd;
    overflow-y: scroll;
    padding: 20px;
    list-style: none;
}
#lista li{
    margin-bottom: 20px;
}
