body{
    background-color: antiquewhite;
    position: relative;
    font-size: 1.2em;

}

#loading{
    margin-top: 20%;
    margin-left: 50%;
}

#obrigatorias{
    background-color: hwb(0 17% 35%);
    padding: 15px;
    border-radius: 30px;
    opacity: 0.95;

}
.semestres{
    background-color: hwb(0 17% 35%);
    padding: 15px;
    border-radius: 30px;
    opacity: 0.95;
    display: none;
    animation: animacao 1s forwards;
 }
 
.semestres:hover{
    opacity: 1;
 }

 #obrigatorias.active .semestres{
    display: block;
 }

h1{
    cursor: pointer;
 }
 

li{
    list-style: none;
}
.plus{
    position: absolute;
    left:  300px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px blue;
    background-color: cyan;
    cursor: pointer;
}


.minus{
    position: absolute;
    left:  350px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px blue;
    background-color: coral;
    color:black;
    cursor: pointer;
}
.info{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background:#ff7b00;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.info:hover{
    cursor:pointer;
    background: #ffee00;
}

.info_ativo{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background:#ff7b00;
    margin-left: 40px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;

}

.cadeiras {
    margin: 20px 0;
}
.activePlus{
    background-color: gray;
}
.activeMinus{
    background-color: gray;
}

#barra{
    background-color: #e0e0e0;
    max-width: 100%;
    width: 90%;
    height: 10px;
    margin-left: 4%;
    margin-bottom: 10px;
    border-radius: 50px;
    position: relative;
    top: 0;
}

#progresso{
    background-color: violet;
    width: 0%;
    height: 10px;
    margin-left: 5px;
    border-radius: 50px;
    position: absolute;
    left: -5px;
}

#semestre1, #semestre2, #semestre3,#semestre4,#semestre5,#semestre6,#semestre7,#semestre8{
   display: none;
   
}
.semestres.activeObrigatorias #semestre1{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}


.semestres.activeObrigatorias #semestre2{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}

.semestres.activeObrigatorias #semestre3{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}

.semestres.activeObrigatorias #semestre4{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}
.semestres.activeObrigatorias #semestre5{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}


.semestres.activeObrigatorias #semestre6{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}

.semestres.activeObrigatorias #semestre7{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}

.semestres.activeObrigatorias #semestre8{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
    animation: animacao 1s forwards;
}


@keyframes animacao {
    from{
        opacity: 0;
        max-height: 0;
    }
    to{
        opacity: 1;
        max-height: 100%;
    }
}

#continuar{
    padding: 5px;
    margin: 30px;
}

#form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    border-radius: 10px;
}
#form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border:0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 30px;
}
#form input{
    text-decoration: none;
    margin-bottom: 10px;
    width: 250px;
    padding: 10px;
}